
.truyen{
    flex-grow: 1;
}
.vung-doc{
    max-width:940px;
    margin:0 auto;
    color:#000;
    font-size:18px;
    padding:19px 3.5em;
    box-sizing:border-box;
    min-height:800px;
    background-color:#fafaf3;
    font-family:'Taviraj','Times New Roman',"Helvetica Neue",sans-serif;
    line-height:1.6;
    display: flex;
    flex-direction: column;
}
.vung-doc img{
    max-width:100%;
    display:block;
    margin:0 auto 15px;
    z-index:1!important;height: auto;
}
.vung-doc img:first-child{
    margin-top:10px
}
.vung-doc p{
    margin-bottom:15px
}
.vung-doc .truyen a{
    cursor:auto;
    font-size:12px
}
.vung-doc .truyen a::-moz-selection{
    background:none
}
.vung-doc .truyen a::selection{
    background:none
}
.next-chap,.prev-chap{
    display:inline-block;
    margin-bottom:5px;
    text-transform:uppercase;
    font-weight:700;
    color:#ff530d;
    line-height:30px
}
.next-chap:hover,.prev-chap:hover{
    color:#f9cdad
}
.next-chap{
    width:48%;
    text-align:left;
    margin-left:1%
}
.prev-chap{
    width:49%;
    text-align:right;
    margin-right:1%
}

.btn-dschuong{
    width: 32px;
    height: 28px;
    display: inline-block;
    padding: 18px;
    font: 300 13px/29px Tahoma;
    color: #FFF;
    text-shadow: 0 0 5px #fcff35;
    cursor: pointer;
    border-radius: 3px;
    line-height: 19px;
    margin-bottom: -12px;
    background: #239854;
}
.chapter_wrap{
    display:block;
    margin:0 auto;
    padding:20px 0
}
.chapter_control{
    max-width:440px;
    text-align:center;
    margin:0 auto;
    display:block;
    height:30px
}
.chapter_control input{
    width:30px;
    float:left;
    height:15px;
    padding:5px;
    display:block;
    font-size:15px;
    font-weight:700
}

span.disabled {
    pointer-events: none;
    opacity: 0.5;
}
.chapter_control button{
    padding:5px 7px;
    background:#27ae60;
    border:0;
    color:#fff;
    border-radius:4px;
    font-size:16px;
    float:left;
    margin:0;
    cursor:pointer;
    height:29px;
    border-left:none;
    margin:0 6px
}
.chapter_control a.back:hover,.chapter_control a.next:hover{
    background:#1e8649
}
.chapter_control a.disabled{
    opacity:.3;
    cursor:unset
}
.chapter_control a.disabled:hover{
    background:#27ae60
}
.next,.back{
    font-weight: 500;
    font-size: 14.5px;
    line-height: 30px;
    color: #FFF;
    background: #239854;
    padding: 10px 12px;
    cursor: pointer;
    margin: 0px 5px;
    border-radius: 3px;
    text-shadow: 0 1px 2px rgb(0 0 0 / 25%);

    letter-spacing: 0.5px;
}
.current-book{
    font-size:20px;
    line-height:30px;

    padding:0 10px;
    text-align:center;
    text-transform:capitalize;
    font-weight:700;
    margin-top:60px
}

.current-chapter{
    font-size:17px;
    line-height:26px;
    color:#777;
    padding:0 10px;
    margin-top:2px;
    text-align:center;
    margin-bottom:10px;
    display:block;
    font-weight:700
}
.chapter_wrap select{
    padding:4px;
    border:none;
    float:left;
    margin-top:13px;
    margin-right:5px;
    max-width:80px
}
.line-control .chap-span{
    color:#27ae60;
    text-align:center;
    display:block;
    margin-bottom:5px;
    font-size:12px;
    line-height:20px
}

.wrap_updater{
    max-width:728px
}
.btn-navigation-chap{
    float:left
}
.breadcrumbs a{
    color:#FFF
}
.breadcrumbs .separator{
    padding:0 5px
}
.col-md-6,.col-md-12,col-sm-6,col-sm-12{
    float:left
}
.col-md-6{
    width:50%
}
.col-md-12{
    width:100%
}
#top{
    display:none
}
.bc-home{
    display:none
}
.btn-notify{
    background-color:#bda426;
    font-size:12px;
    padding:2px 10px;
    border-radius:4px;
    cursor:pointer;
    font-weight:600;
    margin-top:7px;
    font-style:italic
}
.chap-info{
    font:300 13px/29px Tahoma;
    color:#ffe;
    text-align:center
}
.chap-info span{
    font-size:13px;
    padding:3px 11px;
    border-radius:2px;
    cursor:pointer
}
.chap-info span:hover{
    opacity:.9
}
.chap-info span.btn-error{
    background-color:#c03a2a;
    border-color:#801513;
    border-bottom:1px solid #922519
}
.chap-info span.btn-comment{
    background-color:#3a3a3a;
    border-color:#222;
    border-bottom:1px solid #353535
}
.control--last a{
    padding:10px 50px;
    font:300 20px/39px Tahoma
}
.chapter-skip a{
    background: #c03a2a;
}
.chapter-skip a.next:hover{
    background:#b42716;
}

@media (max-width: 768px){
    .bc-sm-hidden{
        display:none
    }
    #top{
        display:block
    }
    .col-sm-6{
        width:50%
    }
    .col-sm-12{
        width:100%
    }
    .container-top{
        width:98%;
        margin:0 auto
    }
    .container{
        width:100%
    }
    .top-logo{
        width:100%;
        background:#FFF;
        margin-bottom:10px
    }
    .top-header{
        width:100%;
        padding:10px
    }
    .footer-content{
        width:100%
    }
    .bc-home{
        display:inline
    }
    .logo_chapter img{
        width:161px
    }
    .logo_chapter{
        height:54px
    }
}
@media (max-width: 550px){
    .breadcrumb{
        font-size:12px
    }
    .btn_truyen{
        width:100%;
        margin:0
    }
}
@media (max-width: 500px){
    .breadcrumbs a{
        font-size:13px
    }
    #facebook ._pup{
        display:none
    }
    .chapter-list{
        padding-bottom:74px
    }
    .container{
        margin:5px auto 0!important
    }
    .container-top{
        width:100%;
        margin-top:0!important
    }
    .daily-update-item{
        border-left:2px solid #059e9a
    }
    section.container{
        margin:0 auto!important
    }
    .item-name{
        width:92%;
        padding-left:8%;
        background:#FFF;
        border-bottom:1px solid #e8e8e8!important
    }
    .item-chapter{
        width:92%;
        padding-left:8%;
        background:#f4f4f4
    }
}
@media (max-width: 340px){
    .list-truyen-item-wrap img{
        width:50%
    }
}
@media (max-width: 1033px){

    .chapter_wrap{
        width:100%;

        box-sizing:border-box;
        max-width:940px
    }
    .info-top-chapter{
        width:96%;
        padding:2%
    }
    .vung-doc{
        padding:0 1.5% 15px
    }

}


#browse-chapter {


    width: 600px !important;
    max-width: 600px !important;
    padding: 0;
}
#browse-chapter .title-list-chapter{
    padding-bottom:10px;
    margin-top:10px;
    border-bottom:1px dashed #ddd;
    margin-bottom:5px;
    position:relative
}
#browse-chapter .title-list-chapter span{
    font:700 12px Tahoma;
    color:#222;
    width:90%;
    text-align:left;
    padding-left:20px
}
.button b-close{
    position:absolute;
    top:0;
    right:10px;
    width:unset
}
span.button.b-close span{
    cursor:pointer
}
#browse-chapter .content{
    max-height:450px;
    overflow-y:auto;
    padding:10px
}
.b-ajax-wrapper .chapter-list span{
    display:block;
    padding:3px 0
}
.b-ajax-wrapper .chapter-list span a{
    color:#222;
    font-size:12px
}

.col-md-6{
    box-sizing:border-box;
    padding:0 10px
}
.btn-dschuong{
    background:#27ae60 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUBAMAAAB/pwA+AAAAKlBMVEUAAAD8/Pz8/Pz8/Pz8/Pz8/Pz8/Pz8/Pz8/Pz8/Pz8/Pz8/Pz8/Pz8/PwWR7DYAAAADXRSTlMAAQIFBxRLT3WFpq3kZrRhIQAAADRJREFUCFtjYEAA11AoCGI4excKbjDAWHdvMqyFMa8xEAR7YWqvI5uAZK4pzLZAHCZQ7BwAFBVWgG+WqdEAAAAASUVORK5CYII=);
    background-repeat:no-repeat;
    background-position:center
}
.chapter_control .btn-dschuong:hover{
    opacity:.9
}
.textdecoration{
    text-decoration:none
}
.textdecoration:hover{
    text-decoration:none!important
}

@media (max-width: 992px) {
    #browse-chapter {
        width: 600px !important;
        max-width: 300px !important;
        padding: 0;
    }
}
