.header-wrap {
    background: #fff;
    padding: 0px 42px;
    -webkit-box-shadow: 0 1px 3px rgb(0 0 0 / 20%), inset 0 1px 1px rgb(255 255 255 / 15%);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3), inset 0 1px 1px rgba(255, 255, 255, .15);
    box-shadow: 0 1px 1px rgb(0 0 0 / 30%), inset 0 1px 1px rgb(255 255 255 / 15%);
    border-bottom: 1px solid #dbdbdb;
}

header .container {
    margin-top: 0
}

.top-logo {
    float: left;
    height: 70px;
    width: 240px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
}

.top-logo img {
    max-width: 100%;
    float: left
}

.wrap-menu-primary {
    float: left;
    width: calc(100% - 260px);
    padding: 0;
    height: 70px;
}

.top-header {
    float: right;
    width: 40%;
    padding: 14px 0 1% 10px;
    box-sizing: border-box
}

.searching form input {
    float: left;
    width: calc(100% - 54px);
    height: 38px;
    border: none;
    padding: 0 14px;
    background: #fefefe;
    border: 1px solid #ccc;
    border-right: none;
    box-sizing: border-box
}

.searching {
    position: relative
}

.searching form input:focus {
    border: 1px solid #a14840;
    border-right: none
}

.searching form select {
    border: none;
    padding: 6px;
    height: 30px;
    float: left;
    margin-right: 10px
}

.searching button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 38px;
    width: 54px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background: #b43627;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3)
}

.searching button i {
    font-size: 20px;
}

.searching button:hover {
    background: #e54040
}

.searching button:active,
.searching button:focus {
    background: #c42f2f;
    outline: 0
}

.searching button:before {
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #b43627;
    top: 12px;
    left: -6px
}

.searching button:hover:before {
    border-right-color: #e54040
}

.searching button:focus:before,
.searching button:active:before {
    border-right-color: #c42f2f
}

.searching button::-moz-focus-inner {
    border: 0;
    padding: 0
}

.header {
    padding: 5px;
    height: 70px;
}

.header-top {

    background: #fafafa;
    padding: 5px 42px;
    min-height: 36px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0 1px 3px rgb(0 0 0 / 20%), inset 0 1px 1px rgb(255 255 255 / 1%);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3), inset 0 1px 1px rgba(255, 255, 255, .1);
    box-shadow: 0 1px 1px rgb(0 0 0 / 30%), inset 0 1px 1px rgb(255 255 255 / 1%);
    margin-bottom: 0px;
    border-bottom: 1px solid #dbdbdb;
}

.header-search {
    float: right;
    width: 320px;
    padding: 1px 2px 1px 2px;
    box-sizing: border-box;
    max-width: 360px;
}

main .wrapper {
    background: #fff;

    padding: 20px 45px;
}



span.item-name a:first-child:before {
    margin-top: 11px;
    margin-right: 6px
}



#menu li:hover > a {
    color: #c0392b;
}

#menu li span.label-menu {
    font-size: 11px;
    top: -20px;
    background: #cc1818;
    line-height: 13px;
    padding: 2px 5px;
    right: 25px;
    font-weight: 500;
    color: #fff;
    position: absolute;
    border-radius: 4px;
}

#menu > li a {

    font-size: 16px;
    color: #454545;
    display: block;
    outline: 0;
    text-decoration: none;
    padding: 15px 0 10px;
    position: relative;
}

#menu > li > a {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 65px;
    padding: 0;
    letter-spacing: 0.2px;
}

#menu > li a.dropdown {
    padding-right: 14px
}

#menu > li a.dropdown:after {
    content: " +";
}

.dropdown_columns {
    margin: 0 auto;
    float: left;
    position: absolute;
    left: -999em;
    text-align: left;
    padding: 0;
    border-top: none;
    background: #fcfcfc;
    border: 1px solid #ededed;
    width: 400px;
    z-index: 9;
}

.dropdown_column {
    width: 210px;
}

#menu li:hover .dropdown_columns {
    left: 0;
    top: auto
}

.dropdown_columns .col_3 {
    display: inline;
    float: left;
    position: relative;
    margin-left: 5px;
    margin-right: 5px
}


.header {
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 auto;
    border: none;
    outline: none;
    -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.header .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-item-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 17%;
    flex: 0 0 17%;
}

.header-item-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66%;
    flex: 0 0 66%;
}

.header-item-right {
    margin-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 17%;
    flex: 0 0 17%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.header-item-right .menu-icon {
    font-size: 1.35rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 1rem;
    margin-left: 1rem;
    border: none;
    outline: none;
    color: #121212;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.header .menu {
    position: relative;
}

.header .menu > ul > li {
    display: inline-block;
    line-height: 2rem;
    margin-left: 2.5rem;
    text-align: left;
}

.header .menu > ul > li > a {
    position: relative;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25;
    border: none;
    outline: none;
    color: #232323;
    text-transform: capitalize;
    text-rendering: optimizeLegibility;
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}
.header .menu > ul > li > span {
    position: relative;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25;
    border: none;
    outline: none;
    color: #232323;
    text-transform: capitalize;
    text-rendering: optimizeLegibility;
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

.header .menu > ul > li .menu-subs {
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: 1.75rem;
    padding: 1rem 2rem;
    border: none;
    outline: none;
    z-index: 500;
    opacity: 0;
    visibility: hidden;
    border-radius: 0.25rem;
    border-top: 3px solid #b43627;
    background: #fafafa;
    -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.header .menu > ul > li .menu-subs > ul {
    width: 100%;
}

.header .menu > ul > li .menu-subs > ul > li {
    line-height: 1;
    text-align: left;
}

.header .menu > ul > li .menu-subs > ul > li > a {
    display: inline-block;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25;
    padding: 0.75rem 0;
    border: none;
    outline: none;
    color: #121212;
    text-transform: capitalize;
    text-rendering: optimizeLegibility;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.header .menu > ul > li .menu-column-1 {
    width: 170px;
    padding: 1rem 1rem;
}

.header .menu > ul > li .menu-item a {
    font-weight: 500;
    height: 30px;
    padding: 0;
    font-size: 15px;
    color: #333;
    line-height: 30px;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s
}

.header .menu > ul > li .menu-item a:hover {
    color: #b43627
}


.header .menu > ul > li .menu-subs.menu-mega {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.header .menu > ul > li .menu-subs.menu-mega > .menu-item > ul > li {
    display: block;
    line-height: 1;
}

.header .menu > ul > li .menu-subs.menu-mega > .menu-item > ul > li > a {
    display: inline-block;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25;
    padding: 0.5rem 0;
    border: none;
    outline: none;
    color: #121212;
    text-transform: capitalize;
    text-rendering: optimizeLegibility;
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

.header .menu > ul > li .menu-subs.menu-column-4, .header .menu > ul > li .menu-subs.menu-column-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 600px;
    width: 100%;
    padding: 1.25rem 1rem;
}

.header .menu > ul > li .menu-subs.menu-column-4 > .menu-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    padding: 0 1rem;
}

.header .menu > ul > li .menu-subs.menu-column-3 > .menu-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    padding: 0 1rem;
}

.header .menu > ul > li .menu-subs.menu-column-2 > .menu-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    padding: 0 1rem;
}

.header .menu > ul > li .menu-subs.menu-column-4 > .menu-item .title {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    padding: 0.75rem 0;
    border: none;
    outline: none;
    color: #e91e63;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.header .menu > ul > li .menu-subs.menu-column-4 > .menu-item.text-center .title {
    text-align: center;
}

.header .menu > ul > li .menu-subs.menu-column-4 > .menu-item img.responsive {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-top: 0.75rem;
    -o-object-fit: cover;
    object-fit: cover;
    vertical-align: middle;
}

.header .menu > ul > li .menu-subs.menu-mega > .menu-item > ul > li > a:hover,
.header .menu > ul > li .menu-subs > ul > li > a:hover {
    color: #b43627;
}

.header-item-right a:hover,
.header .menu > ul > li:hover > a {
    color: #b43627;
}

@media only screen and (min-width: 993px) {
    .header .menu > ul > li.menu-item-has-children:hover .menu-subs {
        margin-top: 0.5rem;
        opacity: 1;
        visibility: visible;
    }

    .header .menu > ul > li:last-child .menu-subs {
        right: 0
    }

    .menu-section {
        text-align: right;
    }

}

.menu-mobile-header,
.menu-mobile-trigger {
    display: none;
}

@media only screen and (max-width: 992px) {
    .header-wrap{
        padding: 0px 0px;
    }
    .header-item-center {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }

    .header-item-left, .header-item-right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }

    .wrapper {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .header .menu-mobile-trigger {
        position: relative;
        display: block;
        cursor: pointer;
        width: 1.75rem;
        height: 1rem;
        border: none;
        outline: none;
        margin-left: 1.25rem;
        background: none;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.35s ease-in-out;
        -o-transition: 0.35s ease-in-out;
        transition: 0.35s ease-in-out;
    }

    .header .menu-mobile-trigger span {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        border: none;
        outline: none;
        opacity: 1;
        border-radius: 0.25rem;
        background: #121212;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
    }

    .header .menu-mobile-trigger span:nth-child(1) {
        top: 0;
    }

    .header .menu-mobile-trigger span:nth-child(2), .header .menu-mobile-trigger span:nth-child(3) {
        top: 0.5rem;
    }

    .header .menu-mobile-trigger span:nth-child(4) {
        top: 1rem;
    }

    .header-item-right {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .header .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 20rem;
        height: 100%;
        z-index: 1099;
        overflow: hidden;
        background: #fafafa;
        -webkit-transform: translate(-100%);
        -ms-transform: translate(-100%);
        transform: translate(-100%);
        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    .header .menu.active {
        -webkit-transform: translate(0%);
        -ms-transform: translate(0%);
        transform: translate(0%);
    }

    .header .menu > ul > li {
        display: block;
        line-height: 1;
        margin: 0;
    }

    .header .menu > ul > li > a {
        display: block;
        line-height: 3.125rem;
        height: 3.125rem;
        padding: 0 3.125rem 0 1rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .header .menu > ul > li > span {
        display: block;
        line-height: 3.125rem;
        height: 3.125rem;
        padding: 0 3.125rem 0 1rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .header .menu > ul > li > a i.fa {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        position: absolute;
        font-size: 1.5rem;
        line-height: 3.125rem;
        top: 0;
        right: 0;
        width: 3.125rem;
        height: 3.125rem;
        text-align: center;
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    .header .menu > ul > li > span i.fa {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        position: absolute;
        font-size: 1.5rem;
        line-height: 3.125rem;
        top: 0;
        right: 0;
        width: 3.125rem;
        height: 3.125rem;
        text-align: center;
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .header .menu .menu-mobile-header {
        position: relative;
        /*position: -webkit-sticky;*/
        position: sticky;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        top: 0;
        height: 3.125rem;
        z-index: 501;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        background: #fafafa;
    }

    .header .menu .menu-mobile-header .menu-mobile-arrow {
        display: none;
        font-size: 1.25rem !important;
        line-height: 2.125rem !important;
        width: 3.125rem;
        height: 3.125rem;
        cursor: pointer;
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        color: #121212;
        text-align: center;
    }

    .header .menu .menu-mobile-header.active .menu-mobile-arrow {
        display: block;
    }

    .header .menu .menu-mobile-header .menu-mobile-title {
        font-family: inherit;
        font-size: 1rem;
        font-weight: 500;
        line-height: inherit;
        color: #121212;
        text-transform: capitalize;
        text-rendering: optimizeLegibility;
    }

    .header .menu .menu-mobile-header .menu-mobile-close {
        font-size: 1.25rem !important;
        line-height: 2.125rem !important;
        cursor: pointer;
        width: 3.125rem;
        height: 3.125rem;
        border: none;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        color: #121212;
        text-align: center;
    }

    .header .menu .menu-section {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .header .menu > ul > li .menu-subs {
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        max-width: none;
        min-width: auto;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 1rem;
        padding-top: 4rem;
        opacity: 1;
        overflow-y: auto;
        visibility: visible;
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .header .menu > ul > li .menu-subs.menu-mega {
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        max-width: none;
        min-width: auto;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 1rem;
        padding-top: 4rem;
        opacity: 1;
        overflow-y: auto;
        visibility: visible;
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .header .menu > ul > li .menu-subs.active {
        display: block;
    }

    .header .menu > ul > li .menu-subs.menu-column-4 > .menu-item,
    .header .menu > ul > li .menu-subs.menu-column-3 > .menu-item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        padding: 0rem;
    }

    .header .menu > ul > li .menu-subs.menu-column-4 > .menu-item img.responsive {
        margin-top: 0;
    }

    .header .menu > ul > li .menu-subs.menu-column-4 > .menu-item.text-center .title {
        margin-bottom: 1.25rem;
    }

    .header .menu > ul > li .menu-subs.menu-column-4 > .menu-item.text-center:last-child .title {
        margin-bottom: 0rem;
    }

    .header .menu > ul > li .menu-subs > ul > li > a {
        display: block;
    }

    .header .menu > ul > li .menu-subs.menu-mega > .menu-item > ul {
        margin-bottom: 1rem;
    }

    .header .menu > ul > li .menu-subs.menu-mega > .menu-item > ul > li > a {
        display: block;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1098;
        opacity: 0;
        visibility: hidden;
        background: rgba(0, 0, 0, 0.55);
        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    .overlay.active {
        opacity: 1;
        visibility: visible;
    }

    #menu li span.label-menu {
        top: 15px;
        right: 9px;
    }
}


